.creature {
  width: 50px;
  height: 35px;
  border: 1px solid black;
  border-radius: ~"100px / 70px";
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  visibility: visible;
  text-align: center;
  line-height: 25px;
}

.hidden {
  visibility: hidden;
}