.creature {
  width: 150px;
  height: 35px;
  border: 0px solid black;
  border-radius: ~"100px / 70px";
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  visibility: visible;
  text-align: center;
  line-height: 25px;
}

.hidden {
  visibility: hidden;
}

// PNG sequence player

.png-sequence-container {
  position: relative;  
  img.image-in-sequence {
    width: 100%;
    top: 0;
    left: 0;
    display: none;

    &.image-in-sequence-active {
      display: block;
    }
  }
}
